.article {
	display: flex;
	flex-direction: column-reverse;
	padding-top: 60px/2;
	padding-bottom: 60px/2;
	
	@media (min-width: 768px) {
		flex-direction: row;
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
}

.article--odd {
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	
	@media (min-width: 768px) {
		flex-direction: row-reverse;
	}
}

.article__desc {
	width: auto;
	padding-top: 20px;
	padding-right: 0;
	padding-left: 0;
	
	@media (min-width: 768px) {
		padding-right: 15px;
	}

	@media (min-width: 1254px) {
		width: 462px;
		padding-top: 80px;
		padding-right: 50px;
		padding-left: 70px;
	}

	.article--odd & {
		width: 100%;
		
		@media (min-width: 768px) {
			padding-right: 15px;
		}

		@media (min-width: 1254px) {
			width: 515px;
			flex: 0 0 515px;
			padding-right: 105px;
			padding-left: 75px;
		}
	}
}

.article__title {
	position: relative;
	color: #333333;
    font-family: 'Playfair Display', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.42px;
	margin-bottom: 15px;
	
	@media (min-width: 1254px) {
		font-size: 42px;
		margin-bottom: 45px;
	}

	&:before {
		position: absolute;
		top: -5px;
		left: 0;
		z-index: -1;
		content: attr(data-number);
		color: #f9f9f9;
		font-family: 'League-Spartan', sans-serif;
		font-size: 70px;
		font-weight: 700;
		line-height: 66px;
		letter-spacing: 13px;
		
		@media (min-width: 1254px) {
			top: -17px;
			font-size: 130px;
		}
	}

	&:after {
		position: absolute;
		bottom: -5px;
		left: 0;
		content: "";
		width: 23px;
		height: 2px;
		background-color: #5da8ef;
	}
}

.article__text {
	margin-bottom: 20px;
	.desc-text;
	
	@media (min-width: 1254px) {
		margin-bottom: 60px;
	}
}

.article__preview {
	position: relative;
	width: 100%;
	margin-bottom: 25px;
	
	@media (min-width: 768px) {
		width: 50%;
		flex: 0 0 50%;
	}

	@media (min-width: 1254px) {
		width: 762px;
		flex: 0 0 762px;
		margin-bottom: 0;
	}

	.article--odd & {
		width: 100%;
		
		@media (min-width: 1254px) {
			width: 490px;
			flex: 0 0 490px;
		}
	}
}

.article__preview-desc {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	right: -30px;

	.article--even & {
		@media (max-width: 1400px) {
			right: 30px;
			top: 30px;
			.article__preview-desc__content {
				color: #FFF;
			}
		}
	}

	.article--odd & {
		top: 30px;
		left: 30px;
		
		@media (min-width: 1254px) {
			left: -30px;
			top: 0;
		}
	}
}

.article__preview-desc__content {
	.vertical-text;
}
