.subscribe-wrapper {
}

.subscribe {
	position: relative;
	width: 590px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 160px;
	padding-bottom: 75px;
	text-align: center;
	
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		content: "";
		width: 2px;
		height: 100px;
		background-color: #5da8ef;
		transform: translateX(-50%);
	}
}

.title-desc {

}

.subscribe-form {

}

.subscribe__input {

}

.subscribe__submit {

}
